/* BULMA NAV-BURGER STYLES */
.navbar {
  // Nav-burger in Navbar for tablets
  @media screen and (max-width: 1024px) {
    #menu-toggle:checked ~ .nav-menu {
      display: block;
    }
  }

  // Nav-burger floating-button for Phones
  @media screen and (max-width: 1024px) {
    .navbar-burger {
      position: fixed;
      top: 0.75em;
      right: 0.75em;
      width: 3em;
      height: 3em;
      z-index: 20;
    }
  }

  .image.is-circular img,
  img.is-circular {
    border-radius: 50%;
  }

  // Nav-burger Toggle Animation
  #menu-toggle:checked ~ .navbar-burger {
    span:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}
