body {
  &.is-logged-in {
    main {
      padding-top: 52px !important;
    }
  }

  &.is-logged-out {
    main {
      padding-top: 77px !important;
    }

    .tabs {
      margin-bottom: 0;
      padding: 0 4px;
    }
  }
}
