---
import { Icon } from 'astro-icon'
import HeaderLink from './HeaderLink.astro';
---

		<!-- <HeaderLink href="/">Home</HeaderLink> -->
		<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		<!-- <HeaderLink href="/about">About</HeaderLink> -->
		<!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->

		<HeaderLink id="facebook" href="https://www.facebook.com/ezriharmusial" target="_blank" rel="nofollow noopener noreferrer" type="button" class="btn-icon variant-ringed-primary ring-2">
			<div class="w-4 h-4">
			<Icon pack="fa" name="facebook-official" class="w-4 h-4" />
			</div>
		</HeaderLink>

		<HeaderLink id="linkedin" href="https://www.linkedin.com/ezri-harmusial" type="button" target="_blank" class="btn-icon variant-ringed-primary ring-2">
			<div class="w-4 h-4">
			<Icon pack="fa" name="linkedin-square" class="w-4 h-4" />
			</div>
		</HeaderLink>

		<HeaderLink id="github" href="https://github.com/ezriharmusial/" type="button" class="btn-icon variant-ringed-primary ring-2">
			<div class="w-4 h-4">
			<Icon pack="fa" name="github" class="w-4 h-4" />
			</div>
		</HeaderLink>
