<main class="profile-page">
	<section class="relative block h-500-px">
		<div class="absolute top-0 w-full h-full bg-center bg-cover" style="
		background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80');
		">
		<span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
	</div>
	<div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
		<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
			<polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
</section>
<section class="relative py-16 bg-blueGray-200">
	<div class="container mx-auto px-4">
		<div class="relative card flex flex-col min-w-0 break-words w-full mb-6 -mt-48">
			<div class="px-6">
				<div class="flex flex-wrap justify-center">
					<!-- Avatar -->
					<div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
						<img src="/images/Ezri.jpeg" alt="Foto van mijzelf" class="shadow-xl rounded-full w-40 h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
					</div>

					<!-- Connect Button -->
					<div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
						<div class="py-6 px-3 mt-32 sm:mt-0">
							<button class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
								Connect
							</button>
						</div>
					</div>

					<!-- Stats -->
					<div class="w-full lg:w-4/12 px-4 lg:order-1">
						<div class="flex justify-center py-4 lg:pt-4 pt-8">
							<div class="mr-4 p-3 text-center">
								<span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">22</span><span class="text-sm text-blueGray-400">Friends</span>
							</div>
							<div class="mr-4 p-3 text-center">
								<span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">10</span><span class="text-sm text-blueGray-400">Photos</span>
							</div>
							<div class="lg:mr-4 p-3 text-center">
								<span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">89</span><span class="text-sm text-blueGray-400">Comments</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Persoonsgegevens -->
				<div class="text-center mt-12">
					<h3 class="text-4xl font-semibold leading-normal text-blueGray-700 mb-0">
						Ezri Daniel Harmusial
					</h3>
					<h4 class="subtitle unstyled text-lg mb-2 ">Modern Web & Application Architect</h4>
					<div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
						<i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
						Leerdam,<br>
						The Netherlands
					</div>
					<div class="mb-2 text-blueGray-600 mt-10">
						<i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Solution Manager - Creative Tim Officer
					</div>
					<div class="mb-2 text-blueGray-600">
						<i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>University of Computer Science
					</div>
				</div>

				<!-- Persoonlijkheidsschets  -->
				<div class="mt-10 py-10 border-t border-blueGray-200 text-center">
					<div class="flex flex-wrap justify-center">
						<div class="w-full lg:w-9/12 px-4">
							<p class="mb-4 text-lg leading-relaxed text-blueGray-700">
								Conservatieve Familiemens en Cultureel Digitaal Voorvechter van rechten van de Aboriginal aardbewoners. Eigenzinnig creatief en Openminded om de wereld met eigen ogen te Ontdekken en vast te leggen. Eigenwijs genoeg om Zelfstandig te willen leven, maar als een Teamplayer te willen werken.
							</p>
						</div>
					</div>
				</div>

				<div class="mt-10 py-10 border-t border-blueGray-200 flex">
					<!-- Telefoon -->
					<div class="w-1/2">
						<h3 class="subtitle text-italic mb-2">Contact</h3>

						<p class="unstyled">
							<i class="fas fa-phone fa-lg">&nbsp;</i> <span class="subtitle unstyled text-sm">Mobiel</span><br />
							<span class="title unstyled text-lg"><a href="tel:+31 (0)6 285 86 335">+31 (0)6 285 86 335</a></span> <!-- Number -->
						</p>

						<p class="unstyled">
							<i class="fas fa-envelope fa-lg">&nbsp;</i> <!-- icon --> <span class="subtitle unstyled text-sm">Persoonlijk</span><br />
							<span class="title unstyled text-lg"><a href="mailto:ezriharmusial@gmail.com">EzriHarmusial@gmail.com</a></span> <!-- Email -->
						</p>
					</div>

					<div>
						<h3 class="subtitle text-italic mb-2 flex">Social Media</h3>
						<!-- LinkedIn -->
						<p class="unsty;ed">
							<i class="fab fa-linkedin-in fa-lg">&nbsp;</i> <!-- icon --><span class="subtitle unstyled text-sm">LinkedIn Profiel</span><br />
							<span class="title unstyled text-lg"><a href="http://www.linkedin.com/in/ezri-harmusial/">ezri-harmusial</a></span> <!-- Number -->
						</p>

						<!-- Facebook -->
						<p class="unstyled">
							<i class="fab fa-facebook-f fa-lg">&nbsp;</i> <!-- icon --><span class="subtitle unstyled text-sm">Facebook Profiel</span><br />
							<span class="title unstyled text-lg"><a href="https://www.facebook.com/ezriharmusial">ezriharmusial</a></span> <!-- Number -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>