				<section id="cv-pane" class="section active">
					<h2 id="werkervaring" class="font-bold p-4 m-4"><i class="fas fa-industry">&nbsp;</i> <span>Werkervaring</span></h2>
					<div class="timeline is-centered">
						<header class="timeline-header">
							<span class="tag is-large is-primary">
								<span class="icon">
									<i class="fas fa-industry">&nbsp;</i>
								</span>
								<span>Heden</span>
							</span>
						</header>


						<header class="timeline-header">
							<span class="tag is-primary">November 2018 – Juni 2019</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/unit4-logo.png" alt="Foto van ArtKids">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Software Engineer op de Afdeling R&D te Sliedrecht</p>
										<ul>
											<li>Ontwikkelen aan Multivers Web boekhoud pakket (Angular)</li>
											<li>Ontwerpen en vertalen van User Interfaces (HTML5 / SCSS)</li>
											<li>Interessante eerste kennismaking met de bedrijfscultuur en haar processen</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2014 – heden</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/ArtKids-Paintings.jpg" alt="Foto van ArtKids">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Secretaris Stichting Artkids te Leerdam</p>
										<ul>
											<li>bijdragen aan de organisatie als bestuurslid</li>
											<li>opzetten en uitvoeren van sociale fondswervende activiteiten</li>
											<li>Informatieverstrekker over onze fondswervende projecten</li>
											<li>Opzetten van (digitale) donatie/betaal mogelijkheden</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2014 – heden</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/ArtKids-ICT-4.jpg" alt="Foto van Leerdammer">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Director of Internet Solutions ArtKids ICT</p>
										<ul>
											<li>ondersteunen en opbouwen van de ICT-afdeling</li>
											<li>onderhouden van onze social media pagina's</li>
											<li>ontwikkelen van websites voor de organisatie en derden</li>
											<li>opbouwen en uitbreiden van interne kennis en vaardigheden op het gebied van ICT</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2014 – heden</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/BuurTuin-West1.JPG" alt="Foto van ArtKids">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Cultureel opbouw werker</p>
										<ul>
											<li>onderhouden en opbouwen van een buurt moestuinen</li>
											<li>onderhouden en opbouwen van sociale ontmoetingsplekken</li>
											<li>ondersteunen en opbouwen van de sociale cohesie</li>
											<li>opzetten en uitvoeren van sociale activiteiten</li>
											<li>bewaken van de gezelligheid door actief sfeerbeheer</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2015 – 2017</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/leerdammer.jpg" alt="Foto van Leerdammer">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Productiemedewerker / Inpakmedewerker bij Bel Leerdammer Kaasfabriek te Schoonrewoerd</p>
										<ul>
											<li>inpakken van kazen</li>
											<li>aanvullen/besturen en onderhouden van inpak- en stickermachines</li>
											<li>verbetering van het inpakproces</li>
											<li>aansturing van Personeel</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2012 – 2013</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/libbey_leerdam.jpg" alt="Foto van Libbey Leerdam">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Kwaliteitscontroleur/cold-end operator in Libbey Glasfabriek te Leerdam</p>
										<ul>
											<li>steekproefsgewijs controleren van de kwaliteit van productieglas</li>
											<li>voorzien van benodigde informatie voor verbetering productieproces</li>
											<li>aansturing van het inpak personeel</li>
											<li>eenvoudig onderhoud / voorbereiding van de productielijnen</li>
											<li>conheaderren/instellen van controle machines en computersystemen</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2004 – 2012</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/royal_leerdam.jpg" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Productiemedewerker in de Koninklijke Nedederlands Glasfabriek te Leerdam</p>
										<ul>
											<li>inpakken, sorteren, controleren en produceren van tafelglas </li>
											<li>coördineren van werkpauzes voor de inpakploeg</li>
											<li>aanvullen van de tafelglas productie machines</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2010</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/mediamatic.png" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Usability Researcher (afstudeerstage) bij Mediamatic Lab te Amsterdam</p>
										<ul>
											<li>ondersteunen van het software ontwikkelteam in de productie van webapplicaties</li>
											<li>uitvoeren van usability onderzoek op bestaande of applicaties in ontwikkeling</li>
											<li>ontwikkeling van een toolkit voor het zelfstandig uitvoeren van usability research</li>
											<li>adviseren van het ontwikkelteam over de implementatie van usability research in het ontwikkelproces</li>
											<li>monteren en solderen van RFID-chip lezers en IPod modules</li>
											<li>verder de gebruikelijke stagedingen: koffiezetten, boodschappen doen, stickersplakken, enveloppen likken en dozen sjouwen</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2010</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/kom_je_ook_4.jpg" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Frontdesk medewerker / Technisch assistent bij Kom Je Ook 4 te Amsterdam</p>
										<ul>
											<li>ontvangen, registreren en verwelkomen van gasten</li>
											<li>zorg dragen over de geluidstechnische ondersteuning tijdens discussies</li>
											<li>representeren en promoten van een cultureel instelling voor de verloting van subsidies (Gewonnen uiteraard!)</li>
											<li>fysiek opbouwen en afbouwen van de beursvloer</li>
											<li>Informeren en wegwijzen van bezoekers, standhouders en derden</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2010</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/cinemasia.jpg" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Omroeper / Promotor / Zaalwacht bij Cinemasia Filmfestival te Amsterdam</p>
										<ul>
											<li>promoten van het Cinemasia Filmfestival in en rond het Westerpark </li>
											<li>rondrijden en fotograferen van parkbezoekers in een Betjak (Fietstaxi)</li>
											<li>aankondigen van het film aanbod onder parkbezoekers van het Westerpark</li>
											<li>ordehandhaving en informatief ondersteunen van festivalbezoekers </li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<header class="timeline-header">
							<span class="tag is-primary">2002 – 2009</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/rootz.jpg" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">"Bestuursvoorzitter" / ICT-manager / Allround vrijwilliger bij Jongerencentrum Rootz te Leerdam</p>
										<ul>
											<li>uitvoeren van gecertificeerde bar en schoonmaakwerkzaamheden</li>
											<li>kennisoverdracht van praktische werkzaamheden</li>
											<li>opvang en begeleiding van hang- en zwerfjongeren</li>
											<li>ontmoeting stimuleren tussen gelijkgezinde jongeren ter bevordering van zelfstandige ontwikkeling culturele initiatieven</li>
											<li>realisatie, aansturing en succesvol overdragen van meerdere productiegroepen</li>
											<li>programmeren en uitvoeren van grote diversiteit aan culturele evenementen</li>
											<li>realisatie van een zelfstandig draaiende professionele promotieafdeling</li>
											<li>aankoop advies technische voorzieningen (geluid, licht &amp; multimedia)</li>
											<li>kennisbevordering printmedia door het leiden van workshops</li>
											<li>realisatie van een intranet voor interne en externe communicatie</li>
											<li>realisatie van drie websites: twee blogs, en een multimedia community</li>
											<li>realisatie van live internet radio en televisie uitzendingen</li>
											<li>inventarisatie wensen/behoefte jongeren met betrekking tot een nieuw centrum</li>
											<li>lobbywerk bij gemeente Leerdam voor de investering in een nieuw jongerencentrum</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<h2 id="opleidingen" class="font-bold p-4 m-4"><i class="fas fa-graduation-cap">&nbsp;</i> <span>Opleidingen</span></h2>
					<div class="timeline is-centered">
						<header class="timeline-header">
							<span class="tag is-large is-primary">
								<span class="icon">
									<i class="fas fa-graduation-cap">&nbsp;</i>
								</span>
								<span>Heden</span>
							</span>
						</header>
						<header class="timeline-header">
							<span class="tag is-primary">2012</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-certificate fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="image 2by1">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/permaculture_institute.png" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Permacultuur Design Course</p>
										<p class="unstyled text-lg">Permacultuur Design Course, te Aschaffenburg (Duitsland): Holistische gereedschapskist voor de ontwikkeling van een duurzaam en onafhankelijk leven in harmonie met mens en natuur.</p>
									</div>
								</div>
							</div>
						</div>
						<header class="timeline-header">
							<span class="tag is-primary">2011</span>
						</header>
						<div class="timeline-item warning">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-graduation-cap fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="w-full">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/hogeschool_rotterdam.jpg" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">HBO MediaTechnologie</p>
										<p> aan de Hogeschool Rotterdam: specialisatie Media &amp; Techniek, minor in Web &amp; Mobiele applicatieontwikkeling, afstudeeronderzoek als Usability Researcher naar de implementatie van gebruikersbehoefte naar gebruikersgemak in het ontwikkel proces. </p>
									</div>
								</div>
							</div>
						</div>
						<header class="timeline-header">
							<span class="tag is-primary">2002</span>
						</header>
						<div class="timeline-item is-primary">
							<div class="timeline-marker is-primary icon">
								<i class="fas fa-graduation-cap fa-xs">&nbsp;</i>
							</div>
							<div class="timeline-content card card-hover overflow-hidden !m-8 !p-0 ">
								<header class="image 2by1">
									<img class="bg-black/50 w-full aspect-[21/9]" src="/images/heerenlanden_college.png" alt="Foto van">
								</header>
								<div class="p-4 space-y-4">
									<div class="unstyled text-lg">
										<p class="unstyled text-2xl font-bold my-2">Middelbare school HAVO</p>
										<p>Heerenlanden College te Leerdam met HAVO profiel: Natuur en Techniek met biologie en wiskunde B2</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
