/* APP TABLET & DESKTOP STYLES */
@media screen and (min-width: 767px) {
  body.is-scrollable-app {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .is-scrollcontainer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      margin: 0 !important;
      flex-direction: row;

      .is-scrollable {
        flex-grow: 1 !important;
        overflow: auto;
        scroll-behavior: smooth;

        /* for Firefox */
        min-height: 0;
      }
    }
  }
}
