---
---

<slot />

			<div class="flex">
				<div class="tab-content">
					<section id="motivatie-pane">
						<h2 class="font-bold p-4 m-4"><i class="fas fa-sliders-h">&nbsp;</i> <span>Professional Skills</span></h2>
						<div class="card p-4 m-4 dark fullwidth is-centered">
							<h3 class="subtitle  text-italic p-4 m-4 mb-2">Printmedia</h3>

							<!-- Adobe Photoshop -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fas fa-paint-brush fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>Adobe Photoshop</span>
										<progress class="progress small w-full is-primary" value="80" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
										<ul>
											<li>Interface designs vertalen naar HTML/CSS</li>
											<li>Promotionele middelen ontwerpen</li>
											<li>Foto manipulatie</li>
										</ul>
									</div>
								</div>
							</article>
						</div>

						<div class="card p-4 m-4 dark fullwidth is-centered">
							<h3 class="subtitle  text-italic p-4 m-4 mb-2">Front-end Development</h3>

							<!-- HTML5 -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-html5 fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>HTML5</span>
										<progress class="progress small w-full is-primary" value="95" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
									</div>
								</div>
							</article>

							<!-- CSS -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-css3-alt fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>CSS3</span>
										<progress class="progress small w-full is-primary" value="50" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
										<ul>
											<li>Kan bereiken wat ik voor ogen heb</li>
											<li>Maak vooral gebruik van Frameworks als <a href="http://getbootstrap.com/">Bootstrap</a> en <a href="https://bulma.io/">Bulma</a></li>
										</ul>

										<!-- Sass -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-sass fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Sass</span>
													<progress class="progress small w-full is-primary" value="80" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>
									</div>
								</div>
							</article>

							<!-- JavaScript -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-js fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>JavaScript</span>
										<progress class="progress small w-full is-primary" value="35" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
										<ul>
											<li>UI ondersteunende Effecten</li>
											<li>Basis content placement / API interactie</li>
											<li>Frameworks:</li>
										</ul>

										<!-- Angular -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-angular fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Angular</span>
													<progress class="progress small w-full is-primary" value="35" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>

										<!-- Svelte -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-js fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Svelte</span>
													<progress class="progress small w-full is-primary" value="10" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>


										<!-- Svelte -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-vuejs fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>VueJS</span>
													<progress class="progress small w-full is-primary" value="5" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>


										<ul>
											<li>Development ondersteunende buildtools als:</li>
										</ul>

										<!-- Node -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-node fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Node / NPM / Yarn</span>
													<progress class="progress small w-full is-primary" value="70" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>

										<!-- Gulp -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-gulp fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Gulp / Webpack</span>
													<progress class="progress small w-full is-primary" value="60" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>
									</div>
								</div>
							</article>
						</div>

						<div class="card p-4 m-4 dark fullwidth is-centered">
							<h3 class="subtitle  text-italic p-4 m-4 mb-2">Back-end Development</h3>

							<!-- PHP -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-laravel fa-php fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>PHP</span>
										<progress class="progress small w-full is-primary" value="50" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
										<ul>
											<li>Aangeleerd via Wordpress: Theme / Plugin development</li>
											<li>1e Kennismaking en toepassing van Object Oriented Programming</li>
										</ul>

										<!-- Laravel -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-wordpress fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>WordPress</span>
													<progress class="progress small w-full is-primary" value="80" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>

										<!-- Laravel -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fab fa-laravel fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Laravel Blade (templating enging)</span>
													<progress class="progress small w-full is-primary" value="40" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>
									</div>
								</div>
							</article>

							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-python fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>Python</span>
										<progress class="progress small w-full is-primary" value="5" max="100"><i class="fas fa-circle">&nbsp;</i></progress>

										<!-- Django -->
										<article class="flex gap-4 justify-start item-center my-8">
											<div class="media-left flex-grow-0">
												<p class="image w-8 h-8 text-is-centered">
													<i class="fas fa-code fa-2x">&nbsp;</i> <!-- icon -->
												</p>
											</div>
											<div class="media-content flex-grow">
												<div class="unstyled text-lg">
													<span>Django</span>
													<progress class="progress small w-full is-primary" value="5" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
												</div>
											</div>
										</article>
									</div>
								</div>
							</article>
						</div>

						<div class="card p-4 m-4 dark fullwidth is-centered">
							<h3 class="subtitle  text-italic p-4 m-4 mb-2">Server-side Development</h3>

							<!-- Apache / NginX -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fas fa-server fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>Apache / NginX</span>
										<progress class="progress small w-full is-primary" value="55" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
									</div>
								</div>
							</article>

							<!-- SQL -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fas fa-database fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>SQL (MySQL / PostgreSQL) </span>
										<progress class="progress small w-full is-primary" value="50" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
									</div>
								</div>
							</article>

							<!-- Docker Container -->
							<article class="flex gap-4 justify-start item-center my-8">
								<div class="media-left flex-grow-0">
									<p class="image w-12 h-12 text-is-centered">
										<i class="fab fa-docker fa-2x">&nbsp;</i> <!-- icon -->
									</p>
								</div>
								<div class="media-content flex-grow">
									<div class="unstyled text-lg">
										<span>Docker </span>
										<progress class="progress small w-full is-primary" value="10" max="100"><i class="fas fa-circle">&nbsp;</i></progress>
									</div>
								</div>
							</article>
						</div>

						<div class="card p-4 m-4 dark fullwidth is-centered">
							<h3 class="subtitle  text-italic p-4 m-4 mb-2">Verdere Interesses</h3>
							<article>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fab fa-linux fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fas fa-seedling fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fas fa-universal-access fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fas fa-people-carry fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fas fa-share-alt fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fas fa-hand-peace fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="inline-block">
									<div class="image w-12 h-12 text-is-centered">
										<i class="fab fa-itunes-note fa-3x">&nbsp;</i> <!-- icon -->
									</div>
								</div>
								<div class="unstyled text-lg">
									<ul>
										<li>Het ontwikkelen van internet televisie en radio</li>
										<li>Werken aan Universele Toegankelijkheid van Informatie</li>
										<li>Het samenbrengen van verschillende culturen, om wederzijds begrip en sociale cohesie te bevorderen</li>
										<li>Het opbouwen en onderhouden van een gemeenschappelijke duurzame tuin voor de wijk waar ik woon</li>
									</ul>
								</div>
							</article>
						</div>
					</section>

				</div>
			</div>
